:root {
	--main-light-color: #fff8ee;
	--main-accent-color: #00c9ae;
	--main-dark-color: #b38452;
	--main-accent-dark: #4b8078;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--main-light-color) !important;
}

a {
	color: var(--main-accent-color) !important;
}

.active {
	color: var(--main-accent-dark) !important;
	text-decoration: none;
}

main {
	flex: 1;
}

img {
	height: 300px;
}

.logo {
	height: 50px;
}
